<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../jquery-4.0.0.js"></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading" data-text="About Site Author">About Site Author</h1>
              <p class=topSubtitle data-text="RSA000">RSA000</p>
            </div>
            <div class="upperScreenImages">
              <img id="indexScreenUpperLeftPhoto" src="../assets/img/gifs/lerat.gif" alt="A rotating rat.">
              <img id="indexScreenUpperRightPhoto" src="../assets/img/gifs/lerat.gif" alt="A rotating rat.">
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenAbout">
          <div class="lowerScreenContents">
			<a  data-text="3DS systems and reading books on 3DS systems">Interests</a>
            <a  data-text="Book">Favourite Books</a>
            <a href="https://github.com/RSA000" data-text="Link to GitHub" nc="1">Github</a>
            <a href="../views/gallery.html" data-text="Some Doodles">Gallery</a>
          </div>
		</div>
      <script src="../services/menu.js"></script>
    </body>
</html>
