<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link rel="stylesheet" href="../assets/styles/main.css">
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading" data-description="About Me"></h1>
              <p class=topSubtitle data-description=" "></p>
            </div>
            <div class="upperScreenImages">
              <img class="lowerLeft" src="../assets/img/gifs/lerat.gif" alt="A rotating rat.">
              <img class="lowerRight" src="../assets/img/gifs/lerat.gif" alt="A rotating rat.">
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenAbout">
          <div class="lowerScreenMenu">
			<a  data-description="3DS systems and reading books on 3DS systems">Interests</a>
            <a  data-description="Book">Favourite Books</a>
            <a href="https://github.com/RSA000" data-description="Link to GitHub" 3DS="1">Github</a>
            <a href="../views/gallery.html" data-description="Some Doodles">Gallery</a>
          </div>
		</div>
      <script src="../services/menu.js"></script>
    </body>
</html>
