<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../services/catalogue.js"></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenCatalogue">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading">Catalogue</h1>
              <h3 class=topSubtitle>Available books are listed below</h3>
            </div>
            <div class="upperScreenImages">
            </div>
          </div>
        </div>
		<div class="lowerScreen" id="lowerScreenCatalogue">
          <div class="lowerScreenContents" id="catalogueOptions">
          </div>
		</div>
    </body>
</html>
