<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link rel="stylesheet" href="../assets/styles/main.css">
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenCatalogue">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading">Book Categories</h1>
              <p class=topSubtitle></p>
            </div>
            <div class="upperScreenImages">
            </div>
          </div>
        </div>

		<div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenMenu">
			<a data-description="Description Text" bookName="pg59899-h/nelly_bly.html" href="https://rsa000.github.io/3DSLibrary/views/read.html">Nelly Bly: 10 Days in the Madhouse</a>
			<a data-description="Description Text" bookName="pg59899-h/nelly_bly_port.html" href="https://rsa000.github.io/3DSLibrary/views/read.html">Nelly Bly: 10 Days in the Madhouse (Portugese)</a>
			<a data-description="Generals Die in Bed" bookName="harrisoncy-generalsdieinbed-00-h/harrisoncy-generalsdieinbed-00-h.html" href="RSA000.github.io/3DSLibrary/views/read.html">Generals Die in Bed</a>
			<a data-description="Generals Die in Bed (Portugese)" bookName="harrisoncy-generalsdieinbed-00-h/harrisoncy-generalsdieinbed-00-h-port" href="RSA000.github.io/3DSLibrary/views/read.html">Generals Die in Bed Port</a>
          </div>
		</div>
      <script src="../services/catalogue.js"></script>
    </body>
</html>
