<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenContact">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading">Send a Suggestion.</h1>
              <h3 class=topSubtitle>Please include your name and email along with your message.</h3>
            </div>
            <div class="upperScreenImages">
            </div>
          </div>
        </div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenFeedback">
            <form id="FeedbackForm" action="https://api.web3forms.com/submit" method="POST">
              <input type="hidden" name="access_key" value="1095361b-0dab-4b39-bdb5-21bc49ba465e">
              <input id="feedbackFormName" type="text" name="name" value="name" required>
              <input id="feedbackFormEmail" type="email" name="email" value="email" required>
              <textarea id="feedbackFormMessage" name="message" required></textarea>
              <button id="feedbackFormButton" type="submit">Submit</button>
            </form>
          </div>
		</div>
    </body>
</html>
