<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="jquery-4.0.0.js"></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
      <div class="upperScreen" id="upperScreenCredits">
        <div class="upperScreenContents">
          <div class="upperScreenText">
            <h1 class="topHeading" data-text="Credits">Credits</h1>
            <h3 class=topSubtitle data-text="Resource Details">Resource Details</h3>
          </div>
          <div class="upperScreenImages">

          </div>
        </div>

      </div>
      <div class="lowerScreen" id="lowerScreenCredits">
        <div class="lowerScreenContents">
          <a href="https://wolfyxon.github.io/3ds-web-stuff/" data-text="Provided inspiration and working examples of HTML, CSS, and Javascript for 3DS sites ">Wolfyxon</a>
          <a href="http://3dspaint.com/index.php" data-text="Users Usagi and Draconid_Jo performed early site testing and review">3DS Paint</a>
          <a href="https://github.com/simbas/n3dsite/" data-text="Provided boilerplate HTML, CSS, and Javascript for site" nc="1">Simbas</a>
          <a href="https://www.3dbrew.org/wiki/Internet_Browser" data-text="Provided an overview and some useful starting HTML, and Javascript for site." nc="1">3DBrew</a>
          <a href="https://www.geeksforgeeks.org/" data-text="Provided tutorial for site file structure." nc="1">GeeksforGeeks</a>
          <a href="https://gutenberg.org/" data-text="Provided copies of free literature for this library.">Project Gutenberg</a>
          <a href="https://pixabay.com/" data-text="Provided free artwork for the site.">Pixabay</a>

        </div>
      </div>
      <script src="../services/menu.js"></script>
    </body>
</html>
