<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link rel="stylesheet" href="../assets/styles/main.css">
      <script src="../services/common.js"></script>
    </head>
    <body>
      <div class="upperScreen" id="upperScreenCredits">
        <div class="upperScreenContents">
          <div class="upperScreenText">
            <h1 class="topHeading"></h1>
            <p class=topSubtitle></p>
          </div>
          <div class="upperScreenImages">

          </div>
        </div>

      </div>
      <div class="lowerScreen" id="lowerScreenCredits">
        <div class="lowerScreenContents">
          <a href="https://wolfyxon.github.io/3ds-web-stuff/" data-description="Provided inspiration and working examples of HTML, CSS, and Javascript for 3DS sites ">wolfyxon</a>
          <a href="https://github.com/simbas/n3dsite/" data-description="Provided boilerplate HTML, CSS, and Javascript for site" 3DS="1">Simbas</a>
          <a href="https://www.3dbrew.org/wiki/Internet_Browser" data-description="Provided an overview and some useful starting HTML, and Javascript for site." 3DS="1">3DBrew</a>
          <a href="https://www.geeksforgeeks.org/" data-description="Provided tutorial for site file structure." 3DS="1">GeeksforGeeks</a>
          <a href="https://gutenberg.org/" data-description="Provided copies of free literature for this library.">Project Gutenberg</a>
          <a href="https://pixabay.com/" data-description="Provided free artwork for the site.">Pixabay</a>

        </div>
      </div>
      <script src="../services/menu.js"></script>
    </body>
</html>
