<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../jquery-4.0.0.js"></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenImages" id="galleryImages">
              <img id="galleryImage"></img>
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenGallery">
          <div class="lowerScreenContents">
              <img class="mySlides" src="../assets/img/photos/Fish.jpg" alt="A drawing of a fish">
              <img class="mySlides" src="../assets/img/photos/Fritz1.jpg" alt="A drawing of Fritz the Cat standing">
              <img class="mySlides" src="../assets/img/photos/Fritz2.jpg" alt="A drawing from a scene from Fritz the Cat">
              <img class="mySlides" src="../assets/img/photos/Mickey.jpg" alt="A drawing of Mickey Mouse">
              <img class="mySlides" src="../assets/img/photos/RicketyBridge.jpg" alt="A drawing of Mr. Boss warning Pim from Smiling Friends">
              <img class="mySlides" src="../assets/img/photos/desktop.jpg" alt="A screenshot of a desktop computer">
              <img class="mySlides" src="../assets/img/photos/computer_saviness.jpg" alt="A screenshot of a computer saviness score ranking at 74">
              <img class="mySlides" src="../assets/img/photos/teeth.jpg" alt="A 3D picture of teeth">
          </div>
		</div>
		<script src="../services/gallery.js"></script>
    </body>
</html>
