<!DOCTYPE html>
<html>
    <head data-text="index">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../services/jquery-4.0.0.js"></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
      <div class="upperScreen" id="upperScreenHome">
            <div class="upperScreenContents">
              <div class="upperScreenText">
                <h1 class="topHeading" data-text="Welcome to the New 3DS Library">Welcome to the New 3DS Library</h1>
                <h3 class=topSubtitle data-text="By RSA000">By RSA000</h3>
                </div>
                <div class="upperScreenImages">
                  <img class="indexImage" id="indexScreenUpperLeftPhoto" src="" alt="A gif representing the current theme.">
                  <img class="indexImage" id="indexScreenUpperRightPhoto" src="" alt="A gif representing the current theme.">
                </div>
            </div>
          </div>
        <div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenContents">
            <a href="./catalogue.html" data-text="Search for available books">Catalogue</a>
            <a href="./read.html" data-text="Jump to last read page">Bookmark </a>
            <a href="./settings.html" data-text="Adjust Site Settings">Settings</a>
            <a href="./contact.html" data-text="Send a suggestion">Contact Form</a>
            <a href="./about.html" data-text="About the site author">About</a>
            <a href="./credits.html" data-text="Resources used for making this site">Credits</a>
          </div>
      </div>
    </body>
</html>
