<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
        <link id="theme" rel="stylesheet" href=""/>
        <script src="../services/jquery-4.0.0.js"></script>
        <script src='../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenRead">
          <div id="textContainerRead">
          </div>
          <input type="number" id="pageindex" value="0">
          <input type="button" id="viewToggle" value="Change Screen">
		</div>
      <script src='../services/read.js'></script>
    </body>
</html>
