<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="icon" href="../assets/img/favicon/favicon-32x32.png" type="image/x-icon">
        <link rel="stylesheet" href="../assets/styles/main.css"/>
        <script src='../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenRead">
          <div id="textContainerRead">
            <p></p>
          </div>
		</div>
    </body>
    <script src='../services/read.js'></script>
</html>
