<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenSettings">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading" data-description="Settings"></h1>
              <p class=topSubtitle></p>
            </div>
            <div class="upperScreenImages">
              <div class="theme-dedmo"></div>
            </div>
          </div>
		</div>
		<div class="lowerScreen">
          <div class="lowerScreenContents" id="lowerScreenSettings">
            <div id="themeSettings">
              <button data-name="blueberryPapaya.css">BlueberryPapaya</button>
              <button data-name="starry.css">Starry Sky</button>
            </div>
          </div>
		</div>
      <script src='../services/menu.js'></script>
      <script src='../services/settings.js'></script>
    </body>
</html>
