<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../assets/img/favicon/fav.png" type="image/x-icon">
      <link id="theme" rel="stylesheet" href="">
      <script src='../services/settings.js'></script>
      <script src="../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenSettings">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading" data-description="Settings"></h1>
              <h3 class=topSubtitle></h3>
            </div>
            <div class="upperScreenImages">
              <div class="theme-demo"></div>
            </div>
          </div>
		</div>
		<div class="lowerScreen">
          <div class="lowerScreenContents" id="lowerScreenSettings">
            <div id="themeSettings">
              <button data-name="blueberrypapaya" data-description="A light and fruity theme">Blueberry Avo Papaya</button>
              <button data-name="globalvillage" data-description="A warm and earthy theme">Global Village</button>
              <button data-name="starry" data-description="A cosmic and spaced out theme">Starry Sky</button>
              <button data-name="oldschool" data-description="An old-school 3DSpaint library theme">Old School</button>
            </div>
          </div>
		</div>
    </body>
</html>
