<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/about.css"/>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenHome">
          <div id="upperScreenContents">
            <h1 id="topHeading"> Welcome to the New 3DS Library!</h1>
            <p id=homeSubtitle>By RSA000</p>
            <img id=rat src="../../assets/img/lerat.gif">
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div id="lowerScreenMenu">
			<a href="" description=""></a>
            <a href="" description=""></a>
          </div>
		</div>
		<script src=''></script>
    </body>
</html>
