<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
        <script src='../../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading">About the site author</h1>
              <p class=topSubtitle>Rats all folks!</p>
            </div>
            <div class="upperScreenImages">
              <img class="lowerLeft" src="../../assets/img/gifs/lerat.gif" alt="A pixelated rat rotating">
              <img class="lowerRight" src="../../assets/img/gifs/lerat.gif" alt="A pixelated rat rotating">
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenAbout">
          <div class="lowerScreenMenu">
			<a  data-description="3DS systems and reading books on 3DS systems">Interests</a>
            <a  data-description="Book">Favourite Books</a>
            <a href="https://github.com/RSA000" data-description="">Github</a>
          </div>
		</div>
		<script scr="../../services/menu.js"></script>
    </body>
</html>
