/* HTML body settings */
body, html {
    background: black;
    margin: 0px;
    font-family: monospace;
    font-size: 16px;
}

/* Upper screen settings.*/
.upperScreen {
    width: 394px;
    height: 210px;
    border: 3px solid #9c9a9a;
    background: #D88442;
}


#upperScreenHome{
    border: 3px solid #9c9a9a;
    background-image: url("../../assets/img/stars.gif");
    background-position: 10px;
}


#upperScreenContents{
    position: relative;
    border: 3px solid #9c9a9a;
    background-image: url("../../assets/img/stars.gif");
    background-size: 1200px;
    width: 375px;
    height: 150px;
    margin: auto;
    margin-top: 25px;
}

#rat{
    position: absolute;
    left: 298px;
    top: 69px;
    width: 62px;
    height: 74px;
    background: #000;
    border-radius: 70%;
    background-blend-mode: hard-light;
    border: 2px solid white;
}


/* Top Heading settings.*/
#topHeading{
text-align: center;
color: white;
}


/* Top Subtitle settins.*/
#topSubtitle{
    margin: 11px;
    text-align: center;
    color: white;
}


/* Lower screen settings.*/
.lowerScreen{
    width: 313px;
    height: 230px;
    border: 3px solid #9c9a9a;
    background-image: url("../../assets/img/stars.gif");
    margin: 0 40px 28px;
    overflow: hidden;
}


#lowerScreenMenu{
    height: 200px;
    width: 300px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 6px;
    margin-top: 9px;
    background-image: url("../../assets/img/stars.gif")
    overflow-y: scroll;
}


/* Lower Screen div link CSS. */
#lowerScreenMenu a {
    margin: 6px 4px;
    height:40px;
    width: 285px;
    padding: 2px;
    display: block;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: gray;
}


/* Lower Screen link CSS when hovering. */
#lowerScreenMenu a:hover {
    background-color: #777;
}

