/* Styles for the body */
body {
    position: grid;
    text-align: center;
}


.upperScreen {
    width: 90%;
    height: 480px; 
    margin: 10px auto;
}

.upperScreenContents{
    height: 99%;
    justify-
}

.upperScreenText{
    
   margin-top:50px;
}


.upperScreenImages {
    position:relative;
}


#indexPhotoR {
    height: 128px;
    width: 116px;
    left: 80%;
    position: absolute;
}


#indexPhotoL {
    height: 128px;
    width: 116px;
    left: 10%;
    position: absolute;
}

.lowerScreen{
    margin: auto;
    height: 100px;
    width: 50%;
    
}

.lowerScreen button{
    display: inline;
}


#themeSettings{
    position: grid;
    justify-content: center;
    margin: auto;
    height:200px;
    width: 50%;
}

.lowerScreenContents {
    margin: auto;
    height: 200px;
}


#textContainerRead {
    font-size: 21px;
    width: 89%;
    height: 76%;
    position: relative;
    top: 31px;
    margin-bottom: 31px;
}
