/* Styles for the body */
body {
    position: grid;
    text-align: center;
}


.upperScreen {
    width: 90%;
    height: 70vh;
    margin: 10px auto;
}

.upperScreenContents{
    height: 70vh;
}

.upperScreenText{
    
   margin-top:50px;
}


.upperScreenImages {
    position:relative;
}


#indexPhotoR {
    height: 128px;
    width: 116px;
    left: 80%;
    position: absolute;
}


#indexPhotoL {
    height: 128px;
    width: 116px;
    left: 10%;
    position: absolute;
}

.lowerScreen {
    background: inherit;
    margin: auto;
    height: 20vh;
    width: 70%;
    overflow-y: scroll;
}



.lowerScreen button{
    display: inline;
}


#themeSettings{
    position: grid;
    justify-content: center;
    margin: auto;
    height:200px;
    width: 50%;
}

.lowerScreenContents {
    margin: auto;
    height: 200px;
    width: 70%;
}

.lowerScreenContents a{
    font-size: 225%;
    display: inherit;
    margin: auto;
}


.lowerScreenContents button{
    font-size: 225%;
    display: inherit;
    margin: auto;
}


#textContainerRead {
    position: relative;
    top: 10px;
    width: 85%;
    height: 95vh;
    margin: 10px auto;
    overflow-y: scroll;
}
