/* HTML general body settings */
html{
  background-color: #723824;

}
body {
  background-color: #84712c;
  border: 4px dashed #dca165;
  width: 500px;
  padding:50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

  /* Container */
  background-color: #dca165;
  border-radius: 15%;
  height: 213px;
  width: 400px;
  margin: auto;
  position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

  /* Container */
  background-color: #513985;
  border: 3px dashed #d88543;
  border-radius: 8%;
  height: 80%;
  width: 90%;
  margin: auto;
  position: relative;
  top: 10%;

}

/* Container for upperScreen text.*/
.upperScreenText{

  /* Container */

  height: 140px;
  width: 329px;
  margin: auto;
  padding-top: 6px;
}


/* Top Heading settings.*/
.topHeading{

  /* Container */
  background: #723824;
  border: 3px dashed #dca165;
  border-radius: 14%;
  width: 320px;
  margin: auto;

  /* Text */
  font-size: 29px;
  text-align: center;
  color: #dca165;

}

/* Top Subtitle settings.*/
.topSubtitle{

  /* Container */
  background: #723824;
  border: 2px dashed #dca165;
  border-radius:10%;
  width: 190px;
  margin: auto;
  margin-top: 15px;
  padding: 3px;

  /* Text */
  font-size: 12px;
  text-align: center;
  color: #dca165;
}

/* Top Screen's images container. */
.upperScreenImages{

  /* Container */
  margin: auto;
  bottom: 32%;
  position: relative;

}

/* Top screen lower left image. */
#indexScreenUpperLeftPhoto{

  /* Container */
  background: #84712c;
  position: relative;
  height: 72px;
  width: 60px;
  left: 3%;
  border-radius: 32%;
}

/* Top screen lower right image. */
#indexScreenUpperRightPhoto{

  /* Container */
  background: #84712c;
  position: relative;
  height: 72px;
  width: 60px;
  left: 62.5%;
  border-radius: 32%;
}

/* Lower screen settings.*/
.lowerScreen{

  /* Container */
  border: 4px dashed #dca165;
  border-radius: 10%;
  height: 240px;
  width: 320px;
  margin: auto;
  position: relative;
}

.lowerScreenContents {
  background-color: #dca165;
  border: 4px dashed #dca165;
  border-radius: 10%;
  height: 200px;
  width: 280px;
  margin: auto;
  overflow-y: scroll;
  position: relative;
  top: 10px;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {

  /* Container */
  width: 220px;
  background-color: #513985;
  border: 2px dashed #dca165;
  border-radius: 20%;
  display: block;
  margin: 4px auto;

  /* Text */
  font-size: 30px;
  text-align: center;
  color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {

  /* Container */
  background-color: #777;
}

.lowerScreenFeedback{

  /* Container */
  height: 200px;
  width: 300px;
  margin: 5px auto;
  overflow-y: scroll;
}


#lowerScreenGallery{

/* Container */
height: 210px;
width: 290px;
margin: 5px auto;
overflow-y: scroll;

}

.mySlides{
  /* Container */
  border: 3px dashed gray;
  top: 12px;
  left: 6px;
  position: relative;
  width: 125px;
  height: 60px;
}

#catalogueOptions a{
border-radius: 10%;

font-size: 16px;
}


#upperScreenRead{

/* Container */
background-color: #c0a883;
height: 445px;
width: 394px;

}


#galleryImages {
margin: 20px auto;
position: static;
text-align: center;
}


#galleryImage{
/* Container */
width: 300px;
height: 150px;
}


#textContainerRead{

/* Container */
background-color: #c0a883;
height: 396px;
width: 295px;
margin: 2px auto;
overflow-y: scroll;
padding: 8px;
font-size: 13px;
top: 15px;
position: relative;
}


#themeSettings{
border-radius: 4%;
margin: 10px auto;
text-align: center;
display: inline-block;
width: 260px;
height: 175px;
background: #513985;
left: 10px;
position: relative;
}


#themeSettings button{
background:#723824;
color: #dca165;
width: 180px;
margin:5px auto;

}


#feedbackForm{
/* Container */
margin: 5px 7px auto;
}

#feedbackFormName{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;
}

#feedbackFormEmail{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;

}

#feedbackFormMessage{

/* Container */
height: 80px;
width: 280px;
padding: 2px;

}

#feedbackFormButton{

/* Container */
margin: 5px auto;
margin-left: 115px;

}










