/* HTML general body settings */
body{

	/* Container */
	background: papayawhip;
	/* Container */
	height: 500px;
	width: 550px;
	margin: 50px auto;
	position: relative;
	/* Text */
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-color: papayawhip ;
	border: 4px dashed darkcyan;
	border-radius: 10%;
	height: 210px;
	width: 394px;
	margin: auto;
	position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-color: darkcyan;
	background-size: 400px;
	border: 2px dashed darkcyan;
	border-radius: 10%;
	height: 90%;
	width:  90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 350px;
	margin: auto;
	padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{

	/* Container */
	background: papayawhip;
	border: 2px dashed darkcyan;
	height: 90x;
	width: 290px;
	margin: auto;

	/* Text */
	font-size: 27px;
	text-align: center;
	color: ;
}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: papayawhip;
	border: 2px dashed darkcyan;
	border-radius:10%;
	height:20px;
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	padding: 3px;

	/* Text */
	text-align: center;
	color: darkcyan;
}

/* Top Screen's images container. */
.upperScreenImages{

	/* Container */
	margin: auto;
	bottom: 20%;
	position: relative;

}

/* Top screen lower left image. */
.lowerLeft{

	/* Container */
	background: papayawhip;
	background-blend-mode: hard-light;
	border: 2px dashed white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: auto;
}

/* Top screen lower right image. */
.lowerRight{

	/* Container */
	background: papayawhip;
	background-blend-mode: hard-light;
	border: 2px dashed white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 61%;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-color: papayawhip;
	border: 4px dashed darkcyan;
	height: 226px;
	width: 310px;
	margin: auto;
	position: relative;
}

.lowerScreenContents{

	/* Container */
	height: 210px;
	width: 290px;
	margin: 5px auto;
	margin-left: 10px;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {

	/* Container */
	width: 220px;
	background-color: darkcyan;
	border: 2px dashed papayawhip;
	border-radius: 20%;
	display: block;
	margin: 4px auto;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {

	/* Container */
	background-color: #777;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}


.mySlides{
	/* Container */
	border: 3px dashed gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}

#catalogueOptions a{
border-radius: 10%;

font-size: 12px;
}


#upperScreenRead{

/* Container */
height: 480px;
width: 394px;

}


#galleryImages{

/* Container */
top: 10px;
margin: 0 30px auto;
position: relative;

}

#galleryImage{
/* Container */
width: 300px;
height: 150px;
}


#textContainerRead{

/* Container */
background: papayawhip;
height: 460px;
width: 295px;
margin: 2px auto;
overflow-y: scroll;
padding: 4px;

/* Text */
font-size: 13px;
}


#FeedbackForm{
/* Container */
margin: 5px 7px auto;
}

#feedbackFormName{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;
}

#feedbackFormEmail{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;

}

#feedbackFormMessage{

/* Container */
height: 80px;
width: 280px;
margin: audto;
padding: 2px;

}

#feedbackFormButton{

/* Container */
margin: 5px auto;
margin-left: 115px;

}



