/* HTML body settings */
body, html {
	background: black;
	margin: 0px;
	font-family: monospace;
	font-size: 16px;
}


/* Upper screen settings.*/
.upperScreen {
	width: 394px;
	height: 210px;
	border: 3px solid #9c9a9a;
	background: #D88442;
}


#upperScreenHome{
	border: 3px solid #9c9a9a;
	background: #D88442;
}


#upperScreenContents{
	border: 3px solid #9c9a9a;
	background: #797979;
	width: 375px;
	height: 165px;
	margin: auto;
	margin-top: 20px;

}


/* Top Heading settings.*/
#topHeading{
	text-align: center;
	color: white;
}


/* Top Subtitle settins.*/
#homeSubtitle{
	margin: 11px;
	text-align: center;
	color: white;
}


/* Lower screen settings.*/
.lowerScreen{
	width: 313px;
	height: 230px;
	border: 3px solid #9c9a9a;
	background-color: #D88442;
	margin: 0 40px 28px;
	overflow: hidden;
}


#lowerScreenMenu{
	height: 200px;
	width: 300px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 6px;
	margin-top: 9px;
	background-color: #c0c1d5;
	overflow-y: scroll;
}


/* Lower Screen div link CSS. */
#lowerScreenMenu a {
	margin: 6px 4px;
	height:40px;
	width: 285px;
	padding: 2px;
	display: block;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: gray;
}


/* Lower Screen link CSS when hovering. */
#lowerScreenMenu a:hover {
	background-color: #777;
}

