/* HTML general body settings */
body{

	/* Container */
	background: black;
	/* Container */
	height: 500px;
	width: 550px;
	margin: 50px auto;
	position: relative;
	/* Text */
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 2px solid #9c9a9a;
	height: 212px;
	width: 396px;
	margin: auto;
	position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-image: inherit;
	background-size: 1200px;
	border-radius: 10%;
	height: 90%;
	width:  90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 350px;
	margin: auto;
	padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{

	/* Container */
	background: black;
	border: 2px solid white;
	height: 90x;
	width: 290px;
	margin: auto;

	/* Text */
	font-size: 27px;
	text-align: center;
	color: white;
}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: black;
	height:20px;
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	padding: 3px;

	/* Text */
	text-align: center;
	color: white;
}

/* Top Screen's images container. */
.upperScreenImages{

	/* Container */
	margin: auto;
	bottom: 20%;
	position: relative;

}

/* Top screen lower left image. */
.lowerLeft{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: auto;
}

/* Top screen lower right image. */
.lowerRight{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 61%;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 2px solid #9c9a9a;
	height: 230px;
	width: 314px;
	margin: auto;
	position: relative;
}

.lowerScreenMenu{

	/* Container */
	height: 210px;
	width: 290px;
	margin: 5px auto;
	margin-left: 10px;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenMenu a {

	/* Container */
	background-color: #333232;
	display: block;
	margin: 6px 4px;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenMenu a:hover {

	/* Container */
	background-color: #777;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}


.mySlides{
	/* Container */
	border: 3px solid gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}


#upperScreenRead{

	/* Container */
	height: 480px;
	width: 394px;

}


#galleryImages{

	/* Container */
	top: 10px;
	margin: 0 30px auto;
	position: relative;

}

#galleryImage{
	/* Container */
	width: 300px;
	height: 150px;
}


#textContainerRead{

	/* Container */
	background: papayawhip;
	height: 460px;
	width: 295px;
	margin: 2px auto;
	overflow-y: scroll;
	padding: 4px;

	/* Text */
	font-size: 13px;
}


#FeedbackForm{
	/* Container */
	margin: 5px 7px auto;
}

#feedbackFormName{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;
}

#feedbackFormEmail{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;

}

#feedbackFormMessage{

	/* Container */
	height: 80px;
	width: 280px;
	margin: audto;
	padding: 2px;

}

#feedbackFormButton{

	/* Container */
	margin: 5px auto;
	margin-left: 115px;

}



.body { color: black;
background: white;
margin-right: 10%;
margin-left: 10%;
font-family: "Times New Roman", serif;
text-align: justify }

p {text-indent: 4% }

p.noindent {text-indent: 0% }

p.t1 {text-indent: 0% ;
font-size: 200%;
text-align: center }

p.t2 {text-indent: 0% ;
font-size: 150%;
text-align: center }

p.t3 {text-indent: 0% ;
font-size: 100%;
text-align: center }

p.t3b {text-indent: 0% ;
font-size: 100%;
font-weight: bold;
text-align: center }

p.t4 {text-indent: 0% ;
font-size: 80%;
text-align: center }

p.t4b {text-indent: 0% ;
font-size: 80%;
font-weight: bold;
text-align: center }

p.t5 {text-indent: 0% ;
font-size: 60%;
text-align: center }

h1 { text-align: center }
h2 { text-align: center }
h3 { text-align: center; border-bottom: double; padding-bottom: 1%; }
h4 { text-align: center; border-top:    double; padding-top: 1%; }
h5 { text-align: center }

p.poem {text-indent: 0%;
	margin-left: 10%; }

	p.contents {text-indent: -3%;
		margin-left: 5% }

		p.thought {text-indent: 0% ;
			letter-spacing: 4em ;
			text-align: center }

			p.letter {text-indent: 0%;
				margin-left: 10% ;
				margin-right: 10% }

				p.footnote {text-indent: 0% ;
					font-size: 80%;
					margin-left: 10% ;
					margin-right: 10% }

					p.quote {text-indent: 4% ;
						margin-left: 0% ;
						margin-right: 0% }

						p.finis { font-size: larger ;
							text-align: center ;
							text-indent: 0% ;
							margin-left: 0% ;
							margin-right: 0% }

