/* HTML body settings */
body, html {
	background: black;
	margin: 0px;
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {
	width: 394px;
	height: 210px;
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
}

/* Container for upperScreen contents.*/
.upperScreenContents{
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
	background-size: 1200px;
	width: 375px;
	height: 165px;
	margin: auto;
	margin-top: 20px;
}

/* Container for upperScreen text.*/
.upperScreenText{
	background: black;
	border-radius:8%;
	margin: auto;
	width: fit-content;
	height: 160px;
}


/* Top Heading settings.*/
.topHeading{
	width: 290px;
	margin: auto;
	text-align: center;
	color: white;
}

/* Top Subtitle settings.*/
.topSubtitle{
	background: black;
	width: 200px;
	margin: auto;
	padding-top: 10px;
	text-align: center;
	color: white;
}

/* Top Screen's images container. */
.upperScreenImages{

}

/* Top screen lower left image. */
.lowerLeft{
	position: absolute;
	left: 18px;
	top: 110px;
	width: 60px;
	height: 72px;
	background: #000;
	border-radius: 70%;
	background-blend-mode: hard-light;
	border: 2px solid white;
}

/* Top screen lower right image. */
.lowerRight{
	position: absolute;
	left: 317px;
	top: 110px;
	width: 60px;
	height: 72px;
	background: #000;
	border-radius: 70%;
	background-blend-mode: hard-light;
	border: 2px solid white;
}

/* Lower screen settings.*/
.lowerScreen{
	width: 313px;
	height: 230px;
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
	margin: 0 40px 28px;
	overflow: hidden;
}

.lowerScreenMenu{
	height: 210px;
	width: 290px;
	overflow-y: scroll;
	margin: 5px auto;
	margin-left: 10px;
}

/* Lower Screen div link CSS. */
.lowerScreenMenu a {
	margin: 6px 4px;
	display: block;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: #333232;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenMenu a:hover {
	background-color: #777;
}

.lowerScreenFeedback{
	height: 200px;
	width: 300px;
	overflow-y: scroll;
	margin: 5px auto;
}

#feedbackFormText{
	height: 150px;
	width: 290px;
	padding: 2px;
}

#feedbackButton{
	margin: 5px auto;
	margin-left: 85px;
}
