/* HTML body settings */
body, html {
	background: black;
	margin: 0px;
	font-family: monospace;
	font-size: 16px;
}

/* Upper screen settings.*/
.upperScreen {
	width: 394px;
	height: 210px;
}


#upperScreenHome{
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
}


#upperScreenContents{
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
	background-size: 1200px;
	width: 375px;
	height: 165px;
	margin: auto;
	margin-top: 20px;

}


/* Top Heading settings.*/
#topHeading{
	text-align: center;
	color: white;
}


/* Top Subtitle settins.*/
#topSubtitle{
	margin: 11px;
	text-align: center;
	color: white;
}


.upperScreenImages{

}


.lowerLeft{
	position: absolute;
	left: 18px;
	top: 107px;
	width: 62px;
	height: 74px;
	background: #000;
	border-radius: 70%;
	background-blend-mode: hard-light;
	border: 2px solid white;
}


.lowerRight{
	position: absolute;
	left: 317px;
	top: 107px;
	width: 62px;
	height: 74px;
	background: #000;
	border-radius: 70%;
	background-blend-mode: hard-light;
	border: 2px solid white;
}


/* Lower screen settings.*/
.lowerScreen{
	width: 313px;
	height: 230px;
	border: 3px solid #9c9a9a;
	background-image: url("../../assets/img/backgrounds/stars.gif");
	margin: 0 40px 28px;
	overflow: hidden;
}


#lowerScreenMenu{
	height: 210px;
	width: 290px;
	overflow-y: scroll;
	margin: 5px auto;
	margin-left: 10px;
}


/* Lower Screen div link CSS. */
#lowerScreenMenu a {
	margin: 6px 4px;
	display: block;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: #333232;
}


/* Lower Screen link CSS when hovering. */
#lowerScreenMenu a:hover {
	background-color: #777;
}


#lowerScreenFeedback{
	height: 200px;
	width: 300px;
	overflow-y: scroll;
	margin: 5px auto;
}


#feedbackFormText{
	height: 150px;
	width: 290px;
	padding: 2px;
}


#feedbackButton{
	margin: 5px auto;
	margin-left: 75px;
}

