/* HTML general body settings */
body{

	/* Container */
	background: black;
	/* Container */
	height: 500px;
	width: 550px;
	margin: 50px auto;
	position: relative;
	/* Text */
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 2px solid #9c9a9a;
	height: 212px;
	width: 396px;
	margin: auto;
	position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-image: inherit;
	background-size: 1200px;
	border-radius: 10%;
	height: 90%;
	width:  90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 350px;
	margin: auto;
	padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{

	/* Container */
	background: black;
	border: 2px solid white;
	height: 90x;
	width: 290px;
	margin: auto;

	/* Text */
	font-size: 27px;
	text-align: center;
	color: white;
}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: black;
	height:20px;
	width: 100px;
	margin: auto;
	margin-top: 15px;
	padding: 3px;

	/* Text */
	text-align: center;
	color: white;
}

/* Top Screen's images container. */
.upperScreenImages{

	/* Container */
	margin: auto;
	bottom: 20%;
	position: relative;

}

/* Top screen lower left image. */
.lowerLeft{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: auto;
}

/* Top screen lower right image. */
.lowerRight{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 56%;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 2px solid #9c9a9a;
	height: 230px;
	width: 314px;
	margin: auto;
	position: relative;
}

.lowerScreenContents{

	/* Container */
	height: 210px;
	width: 290px;
	margin: 5px auto;
	margin-left: 10px;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {

	/* Container */
	background-color: #333232;
	display: block;
	margin: 6px 4px;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {

	/* Container */
	background-color: #777;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}


.mySlides{
	/* Container */
	border: 3px solid gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}

#catalogueOptions a{
	border-radius: 10%;

	font-size: 12px;
}


#upperScreenRead{

	/* Container */
	height: 445px;
	width: 394px;

}


#galleryImages{

	/* Container */
	top: 10px;
	margin: 0 30px auto;
	position: relative;

}

#galleryImage{
	/* Container */
	width: 300px;
	height: 150px;
}


#textContainerRead{

	/* Container */
	background: papayawhip;
	height: 430px;
	width: 294px;
	margin: 2px auto;
	overflow-y: scroll;
	padding: 4px;

}

#textContainerRead h1{
	font-size: 16px;
}

#textContainerRead p{
	font-size: 12px
}


#FeedbackForm{
	/* Container */
	margin: 5px 7px auto;
}

#feedbackFormName{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;
}

#feedbackFormEmail{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;

}

#feedbackFormMessage{

	/* Container */
	height: 80px;
	width: 280px;
	margin: audto;
	padding: 2px;

}

#feedbackFormButton{

	/* Container */
	margin: 5px auto;
	margin-left: 115px;

}


#textContainerRead p {text-indent: 4% }

#textContainerRead p.noindent {text-indent: 0% }

#textContainerRead p.t1 {text-indent: 0% ;
font-size: 200%;
text-align: center }

#textContainerRead p.t2 {text-indent: 0% ;
font-size: 150%;
text-align: center }

#textContainerRead p.t3 {text-indent: 0% ;
font-size: 100%;
text-align: center }

#textContainerRead p.t3b {text-indent: 0% ;
font-size: 100%;
font-weight: bold;
text-align: center }

#textContainerRead p.t4 {text-indent: 0% ;
font-size: 80%;
text-align: center }

#textContainerRead p.t4b {text-indent: 0% ;
font-size: 80%;
font-weight: bold;
text-align: center }

#textContainerRead p.t5 {text-indent: 0% ;
	font-size: 60%;
	text-align: center }

	h1 { text-align: center }
	h2 { text-align: center }
	h3 { text-align: center; border-bottom: double; padding-bottom: 1%; }
	h4 { text-align: center; border-top:    double; padding-top: 1%; }
	h5 { text-align: center }

#textContainerRead p.poem {text-indent: 0%;
margin-left: 10%; }

#textContainerRead p.contents {text-indent: -3%;
margin-left: 5% }

#textContainerRead p.thought {text-indent: 0% ;
letter-spacing: 4em ;
text-align: center }

#textContainerRead p.letter {text-indent: 0%;
margin-left: 10% ;
margin-right: 10% }

#textContainerRead p.footnote {text-indent: 0% ;
font-size: 80%;
margin-left: 10% ;
margin-right: 10% }

#textContainerRead p.quote {text-indent: 4% ;
margin-left: 0% ;
margin-right: 0% }

#textContainerRead p.finis { font-size: larger ;
	text-align: center ;
	text-indent: 0% ;
	margin-left: 0% ;
	margin-right: 0% }


p {  margin-top: .75em;
text-align: justify;
text-indent: 1.25em;
margin-bottom: .75em;
}

h4 { text-align: center; clear: both; }

h1 { text-align: center;
margin-top: 3em;
margin-bottom: 2em;
clear: both;
page-break-before: always; }

h2  {text-align: center;
margin-top: 3em;
margin-bottom: 2em;
clear: both;
}

h3  {text-align: center;
margin-top: 2em;
margin-bottom: 2em;
clear: both;
}

hr { width: 33%;
margin-top: 2em;
margin-bottom: 2em;
margin-left: auto;
margin-right: auto;
clear: both;
}

div.trans-note {border-style: solid; border-width: 1px;
margin: 3em 15%; padding: 1em; text-align: center;
background: #def;
}

table {margin-left: auto; margin-right: auto;}

body{margin-left: 10%;
margin-right: 10%;
}

ul {     position: relative;
width: 70%;
margin-left: 10%;
list-style-type:none;}

li {     margin-top: 0.25em;
text-indent: -3em;
margin-left: 3em;
line-height: 1.2em; }

.pagenum  { position: absolute;
left: 1%;
font-size: 70%;
text-align: right;
} /* page numbers */

.blockquot{margin-left: 5%; margin-right: 10%;}

.block    {margin-left: 25%; margin-right: 25%;}

.note     {margin-left: 2%; margin-right: 2%;}

.center   {text-align: center;}

.smcap    {font-variant: small-caps;}

.totoc    {position: absolute; right: 2%; font-size: 75%; text-align: right;}

.totoi    {position: relative; left: 2%; font-size: 75%; text-align: right;}

.caption  {font-weight: bold; font-size: 90%;}

.figcenter   {margin: auto; text-align: center;}

img {padding: 5px; border: thin solid #485045;}

.poem             {margin-left:10%; margin-right:10%; text-align: left;}
.poem br          {display: none;}
.poem .stanza     {margin: 1em 0em 1em 0em;}
.poem span.i0     {display: block; margin-left: 0em; padding-left: 3em; text-indent: -3em;}

