/* HTML general body settings */
body, html {

	/* Container */
	background: black;
	margin: 0px;

	/* Text */
	font-family: monospace;
	font-size: 16px;
}


/* Main css for backing dividing.*/
.backingDiv{

	height: 1000px;
	width: 500px;
	position: absolute;

}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 2px solid #9c9a9a;
	height: 212px;
	width: 396px;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	background-size: 1200px;
	height: 90%;
	width:  90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 350px;
	margin: auto;
	padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{

	/* Container */
	background: black;
	border: 2px solid white;
	height: 90x;
	width: 290px;
	margin: auto;

	/* Text */
	font-size: 27px;
	text-align: center;
	color: white;
}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: black;
	height:20px;
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	padding: 3px;

	/* Text */
	text-align: center;
	color: white;
}

/* Top Screen's images container. */
.upperScreenImages{

}

/* Top screen lower left image. */
.lowerLeft{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: auto;
	top: -35px;
}

/* Top screen lower right image. */
.lowerRight{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	top: -35px;
	left: 58%;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-image: url("../../assets/img/backgrounds/stars.gif");
	border: 3px solid #9c9a9a;
	height: 230px;
	width: 313px;
	/* Important for proper framing */
	margin: 0 40px 28px;
}

.lowerScreenMenu{

	/* Container */
	height: 210px;
	width: 290px;
	margin: 5px auto;
	margin-left: 10px;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenMenu a {

	/* Container */
	background-color: #333232;
	display: block;
	margin: 6px 4px;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenMenu a:hover {

	/* Container */
	background-color: #777;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}


.mySlides{
	/* Container */
	border: 3px solid gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}


#upperScreenRead{

	/* Container */
	height: 480px;
	width: 394px;

}


#galleryImages{

	/* Container */
	top: 10px;
	margin: 0 30px auto;
	position: relative;

}

#galleryImage{
	/* Container */
	width: 300px;
	height: 150px;
}


#textContainerRead{

	/* Container */
	background: papayawhip;
	height: 460px;
	width: 295px;
	margin: 2px auto;
	overflow-y: scroll;
	padding: 4px;

	/* Text */
	font-size: 13px;
}


#FeedbackForm{
	/* Container */
	margin: 5px 7px auto;
}

#feedbackFormName{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;
}

#feedbackFormEmail{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;

}

#feedbackFormMessage{

	/* Container */
	height: 80px;
	width: 280px;
	margin: audto;
	padding: 2px;

}

#feedbackFormButton{

	/* Container */
	margin: 5px auto;
	margin-left: 115px;

}
