/* HTML general body settings */
body {
	/* Container */
	background-color: black;
	border: 4px dashed white;
	width: 500px;
	padding:50px;

	/* Text */
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-image: url("../../assets/img/backgrounds/oldschool.png");
	height: 215px;
	width: 400px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-image: inherit;
	background-size: 15%;
	border: 4px solid gray;
	height: 90%;
	width: 90%;
	margin: auto;
	position: relative;
	top: 4%;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 350px;
	margin: auto;
	padding-top: 5px;
}


/* Top Heading settings.*/
.topHeading{background: gray; border: 2px solid white; width: 290px; margin: auto; font-size: 27px; text-align: center; color: white;}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: gray;
	border: 2px solid white;
	margin: 10px auto;

	/* Text */
	font-size:14px;
	text-align: center;
	color: #ffebeb;
	width: 200px;
}

/* Top Screen's images container. */
.upperScreenImages{

	/* Container */
	margin: auto;
	bottom: 20%;
	position: relative;

}

/* Top screen lower left image. */
#indexScreenUpperLeftPhoto{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 5px;
}

/* Top screen lower right image. */
#indexScreenUpperRightPhoto{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 220px;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-image: url("../../assets/img/backgrounds/oldschool.png");
	height: 240px;
	width: 320px;
	margin: auto;
	position: relative;
}

.lowerScreenContents{

	/* Container */
	border: 4px solid gray;
	height: 230px;
	width: 280px;
	margin: 5px auto;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {

	/* Container */
	background-color: #7c6447;
	border-radius:10%;
	display: block;
	margin: 5px auto;
	width: 90%;
	padding:3px;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {

	/* Container */
	background-color: #777;
}

#lowerScreenSettings{
width: 280px;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}

#lowerScreenGallery{

/* Container */
height: 210px;
width: 290px;
margin: 5px auto;
/*! margin-left: 10px; */
overflow-y: scroll;

}


.mySlides{
	/* Container */
	border: 3px solid gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}

#catalogueOptions a{
border-radius: 10%;

font-size: 16px;
}

#upperScreenRead{

/* Container */
height: 450px;
width: 394px;

}


#galleryImages{

/* Container */
top: 10px;
margin: 0 30px auto;
position: relative;

}

#galleryImage{
/* Container */
width: 300px;
height: 150px;
}


#textContainerRead{

/* Container */
background: papayawhip;
height: 395px;
width: 294px;
margin: 2px auto;
overflow-y: scroll;
padding: 3px;
top: 5px;
position: relative;

}

#textContainerRead h1{
font-size: 16px;
}


#themeSettings{
background: url(../../assets/img/backgrounds/oldschool.png);
border: 5px solid gray;
height: 80%;
width: 200px;
margin: 10px auto;
text-align: center;
}

#themeSettings button{
	
background-color: gray;
color: white;
width: 175px;
margin:5px auto;


}

#fontSettings{
position: relative;
margin:5px auto;

}


#fontSettings button{
width: 80px;
}


#feedbackForm{
/* Container */
margin: 5px 7px auto;
}

#feedbackFormName{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;
}

#feedbackFormEmail{

/* Container */
height: 30px;
width: 280px;
margin-bottom: 3px;
padding: 2px;

}

#feedbackFormMessage{

/* Container */
height: 80px;
width: 280px;
margin: audto;
padding: 2px;

}

#feedbackFormButton{

/* Container */
margin: 5px auto;
margin-left: 115px;

}



#pageindex{
background-color: inherit;
width: 40px;
height: 15px;
border-radius: 9%;
position: relative;
left: 43%;
}
