/* HTML general body settings */
body {
	/* Container */
	background-color: black;
	border: 4px dashed white;
	width: 500px;
	padding:50px;

	/* Text */
	font-family: monospace;
	font-size: 16px;
}

/* Main container for upper screen.*/
.upperScreen {

	/* Container */
	background-image: url("../../assets/img/backgrounds/oldschool.png");
	height: 215px;
	width: 400px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

/* Container for upperScreen contents.*/
.upperScreenContents{

	/* Container */
	background-image: inherit;
	background-size: 300%;
	border: 1px dashed white;
	border-radius: 8%;
	height: 90%;
	width: 90%;
	margin: auto;
	position: relative;
	top: 4%;
}

/* Container for upperScreen text.*/
.upperScreenText{

	/* Container */
	border-radius:8%;
	height: 140px;
	width: 335px;
	margin: auto;
	padding-top: 20px;
}


/* Top Heading settings.*/
.topHeading{

	/* Container */
	background: black;
	border: 2px solid white;
	height: 90x;
	width: 290px;
	margin: auto;

	/* Text */
	font-size: 27px;
	text-align: center;
	color: white;
}

/* Top Subtitle settings.*/
.topSubtitle{

	/* Container */
	background: black;
	height:20px;
	width: 200px;
	margin: auto;
	margin-top: 15px;
	padding: 3px;

	/* Text */
	font-size:14px;
	text-align: center;
	color: white;
}

/* Top Screen's images container. */
.upperScreenImages{

	/* Container */
	margin: auto;
	bottom: 20%;
	position: relative;

	left: 4%;
}

/* Top screen lower left image. */
.indexScreenUpperLeftPhoto{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: auto;
}

/* Top screen lower right image. */
.indexScreenUpperRightPhoto{

	/* Container */
	background: #000;
	background-blend-mode: hard-light;
	border: 2px solid white;
	border-radius: 70%;
	position: relative;
	height: 72px;
	width: 60px;
	left: 56%;
}

/* Lower screen settings.*/
.lowerScreen{

	/* Container */
	background-image: url("../../assets/img/backgrounds/oldschool.png");
	height: 240px;
  width: 320px;
  margin: auto;
  position: relative;
}

.lowerScreenContents{

	/* Container */
	border: 1px dashed white;
	border-radius: 10%;
	height: 230px;
	width: 280px;
	margin: 5px auto;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
.lowerScreenContents a {

	/* Container */
	background-color: #333232;
	display: block;
	margin: 6px 4px;

	/* Text */
	font-size: 30px;
	text-align: center;
	color: white;
}

/* Lower Screen link CSS when hovering. */
.lowerScreenContents a:hover {

	/* Container */
	background-color: #777;
}

#lowerScreenSettings{
	width: 280px;
}

.lowerScreenFeedback{

	/* Container */
	height: 200px;
	width: 300px;
	margin: 5px auto;
	overflow-y: scroll;
}

#lowerScreenGallery{

	/* Container */
	height: 210px;
	width: 290px;
	margin: 5px auto;
	/*! margin-left: 10px; */
	overflow-y: scroll;

}


.mySlides{
	/* Container */
	border: 3px solid gray;
	top: 12px;
	left: 6px;
	position: relative;
	width: 125px;
	height: 60px;
}

#catalogueOptions a{
	border-radius: 10%;

	font-size: 12px;
}

#upperScreenRead{

	/* Container */
	height: 445px;
	width: 394px;

}


#galleryImages{

	/* Container */
	top: 10px;
	margin: 0 30px auto;
	position: relative;

}

#galleryImage{
	/* Container */
	width: 300px;
	height: 150px;
}


#textContainerRead{

	/* Container */
	background: papayawhip;
	height: 430px;
	width: 294px;
	margin: 2px auto;
	overflow-y: scroll;
	padding: 4px;

}

#textContainerRead h1{
	font-size: 16px;
}

#textContainerRead p{
	font-size: 12px
}

#themeSettings{
	margin: 10px auto;
	text-align: center;
}


#themeSettings button{
	width: 180px;
	margin:5px auto;

}


#feedbackForm{
	/* Container */
	margin: 5px 7px auto;
}

#feedbackFormName{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;
}

#feedbackFormEmail{

	/* Container */
	height: 30px;
	width: 280px;
	margin-bottom: 3px;
	padding: 2px;

}

#feedbackFormMessage{

	/* Container */
	height: 80px;
	width: 280px;
	margin: audto;
	padding: 2px;

}

#feedbackFormButton{

	/* Container */
	margin: 5px auto;
	margin-left: 115px;

}
