<!DOCTYPE html>
<html>
    <head>
      <script src='../../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenCatalogue">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading">Book Categories</h1>
              <p class=topSubtitle></p>
            </div>
            <div class="upperScreenImages">
            </div>
          </div>
        </div>

		<div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenMenu">
			<a data-description=" ">Fiction</a>
            <a data-description=" ">Non-fiction</a>
          </div>
		</div>
    </body>
</html>
