<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenCatalogue">
          <div id="upperScreenContents">
            <h1 id="topHeading">Book Categories</h1>
            <p id=topSubtitle></p>
          </div>
            <div class="upperScreenImages">
                <img class="lowerRight" src="">
            </div>
		</div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div id="lowerScreenMenu">
			<a href="" description="">Fiction</a>
            <a href="" description="">Non-fiction</a>
          </div>
		</div>
		<script src='../../services/main.js'></script>
    </body>
</html>
