<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
        <script src='../../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenImages">

            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenAbout">
          <div class="lowerScreenMenu">
              <img class="mySlides" src="../../assets/img/photos/Fish.bmp" tabindex="0">
              <img class="mySlides" src="../../assets/img/photos/Fritz1.bmp">
              <img class="mySlides" src="../../assets/img/photos/Fritz2.bmp">
              <img class="mySlides" src="../../assets/img/photos/Mickey.bmp">
              <img class="mySlides" src="../../assets/img/photos/RicketyBridge.bmp">
          </div>
		</div>
		<script src="../../services/gallery.js"></script>
    </body>
</html>
