<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../../assets/img/favicon/favicon-32x32.png" type="image/x-icon">
      <link rel="stylesheet" href="../../assets/styles/main.css">
      <script src="../../services/common.js"></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenAbout">
          <div class="upperScreenContents">
            <div class="upperScreenImages" id="galleryImages">
              <img id="galleryImage"></img>
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenGallery">
          <div class="lowerScreenMenu">
              <img class="mySlides" src="../../assets/img/photos/Fish.jpg">
              <img class="mySlides" src="../../assets/img/photos/Fritz1.jpg">
              <img class="mySlides" src="../../assets/img/photos/Fritz2.jpg">
              <img class="mySlides" src="../../assets/img/photos/Mickey.jpg">
              <img class="mySlides" src="../../assets/img/photos/RicketyBridge.jpg">
              <img class="mySlides" src="../../assets/img/photos/desktop.jpg">
              <img class="mySlides" src="../../assets/img/photos/computer_saviness.jpg">
              <img class="mySlides" src="../../assets/img/photos/teeth.jpg">
          </div>
		</div>
		<script src="../../services/gallery.js"></script>
    </body>
</html>
