<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenContact">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading"></h1>
              <p class=homeSubtitle></p>
            </div>
            <div class="upperScreenImages">
            </div>
          </div>
        </div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenFeedback">
            <form id=feedbackForm>
              <input id="feedbackFormText" type="text">
              <input id="feedbackButton" type="submit" value="Submit Feedback">
            </form>
          </div>
		</div>
        <script src='../../services/main.js'></script>
    </body>
</html>
