body, html {
	margin: auto;
	background: black;
}
body > div {

}

/* Upper screen settings.*/
.upperScreen {
	width: 400px;
	height: 215px;
	background: #ffb220;
	border: 5px solid #9c9a9a;
	border-radius: 5%;
	overflow: hidden;
}

/* Top Heading settings.*/
#topHeading{
	border: 3px solid #9c9a9a;
	margin: 11px;
	text-align: center;
	color: white;
	background-color: gray;
}


/* Lower screen settings.*/
.lowerScreen{
	width: 315px;
	height: 235px;
	border: 5px solid #9c9a9a;
	border-radius: 5%;
	padding-top: 1px;
	overflow: hidden;
	margin-left:35px;
	margin-top:3px;

}


#lowerScreenMenu{
	background-color: #ffb220;
	overflow-y: scroll;
	height: 220px;
	width: 300px;
	margin-left: 7px;
	margin-top: 5px

	}

/* Lower Screen div link CSS. */
#lowerScreenMenu a {
	margin: 6px 4px;
	height:50px;
	width: 285px;
	display: block;
	padding: 2px;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: gray;
}

/* Lower Screen link CSS when hovering. */
#lowerScreenMenu a:hover {
	background-color: #777;
}

