body, html {
	margin: 0;
	background: black;
}
body > div {
	overflow-x: hidden;
	margin: 0 auto;
}
/*The "top" tag represents the top screen element */
#upperScreen {
	width: 400px;
	height: 215px;
	padding: 2px;
	overflow: hidden;
}

#lowerScreen{
	width: 320px;
	height: 212px;
	margin: 0 auto;
}

div.scrollmenu {
	background-color: #ffb220;
	white-space: nowrap;
	overflow-y: clip;
	border-radius: 7%;
	padding: 5px;
}

div.scrollmenu a {
	margin: 6px 4px;
	height:91px;
	width: 308px;
	display: block;
	color: white;
	text-align: center;
	padding: 2px;
	border-radius: 7%;
	overflow-x: hidden;
}

div.scrollmenu a:hover {
	background-color: #777;
}

