body, html {
	margin: auto;
	background: black;
}
body > div {

}

/* Upper screen settings.*/
.upperScreen {
	width: 400px;
	height: 215px;
	overflow: hidden;
}

/* Lower screen settings.*/
.lowerScreen{
	width: 320px;
	height: 240px;
	margin-left:35px;
}

/* Lower Screen CSS. */
div.lowerScreen {
	background-color: #ffb220;
	white-space: nowrap;
	overflow-y: auto;
	border-radius: 7%;
	padding: 5px;
}

/* Lower Screen link CSS. */
div.lowerScreen a {
	margin: 6px 4px;
	height:91px;
	width: 308px;
	display: block;
	color: white;
	text-align: center;
	padding: 2px;
	border-radius: 7%;
	overflow-x: hidden;
}

/* Lower Screen link CSS when hovering. */
div.lowerScreen a:hover {
	background-color: #777;
}

