body, html {
	margin: auto;
	background: black;
}
body > div {

}

/* Upper screen settings.*/
.upperScreen {
	width: 400px;
	height: 215px;
	background: #ffb220;
	border: 5px solid #9c9a9a;
	border-radius: 5%;
	overflow: hidden;
}

/* Top Heading settings.*/
#topHeading{
	border: 3px solid #9c9a9a;
	margin: 11px;
	text-align: center;
	color: white;
	background-color: gray;
}


/* Lower screen settings.*/
.lowerScreen{
	width: 320px;
	height: 240px;
	border: 5px solid #9c9a9a;
	border-radius: 5%;
	padding-top: 1px;
	overflow: hidden;
	margin-left:35px;
	margin-top:3px;

}

/* Lower Screen CSS. */
div.lowerScreen {
	background-color: #ffb220;
	overflow-y: scroll;
}

/* Lower Screen div link CSS. */
div.lowerScreen a {
	margin: 6px 4px;
	height:50px;
	width: 300px;
	display: block;
	padding: 2px;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: gray;


}

/* Lower Screen link CSS when hovering. */
div.lowerScreen a:hover {
	background-color: #777;
}

