<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta charset="utf-8">
      <title>3DS Free Library</title>
      <link rel="icon" href="../../assets/img/favicon/favicon-32x32.png" type="image/x-icon">
      <link rel="stylesheet" href="../../assets/styles/main.css">
      <script src="../../services/common.js"></script>
    </head>
    <body>
      <div div class="backingDiv">
		<div class="upperScreen" id="upperScreenSettings">
          <div class="upperScreenContents">
            <div class="upperScreenText">
              <h1 class="topHeading" data-description="Settings"></h1>
              <p class=topSubtitle style="font-size: 15px;"></p>
            </div>
            <div class="upperScreenImages">

            </div>
          </div>

		</div>
		<div class="lowerScreen" id="lowerScreenSettings">
            <p id="scrollData"></p>
          <div class="lowerScreenMenu">
          </div>
		</div>
      </div>
      <script src='../../services/testing.js'></script>
    </body>
</html>
