<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
        <script src='../../services/common.js'></script>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenRead">
		<h1 id=testH1> </h1>
          <div id="textContainer"></div>
		</div>
    </body>
    <script src='../../services/read.js'></script>
</html>
