<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/main.css"/>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenSettings">
          <div class="upperScreenContents">
            <h1 class="topHeading"></h1>
            <p class=homeSubtitle></p>
          </div>
            <div class="upperScreenImages">
                <img class="lowerRight" src="">
            </div>
		</div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div class="lowerScreenMenu">
            <a href="" description=""></a>
			<a href="" description=""></a>
          </div>
		</div>
		<script src='../../services/main.js'></script>
    </body>
</html>
