<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta charset="utf-8">
        <title>3DS Free Library</title>
        <link rel="stylesheet" href="../../assets/styles/about.css"/>
    </head>
    <body>
		<div class="upperScreen" id="upperScreenHome">
          <div id="upperScreenContents">
            <h1 id="topHeading"></h1>
            <p id=homeSubtitle></p>
            <div class="upperScreenImages">
                <img class="lowerRight" src="">
            </div>
          </div>
		</div>
		<div class="lowerScreen" id="lowerScreenHome">
          <div id="lowerScreenMenu">
            <a href="" description=""></a>
			<a href="" description=""></a>
          </div>
		</div>
		<script src='../../services/main.js'></script>
    </body>
</html>
